<div class="home-content">

    <h1>HOME</h1>
    <h2 class="tagline">Hot Topics</h2>

    <div class="post">
        <img src="img/money.jpg" alt="money">
        <div class="post-item">
            <h3>The Value of Money</h3>
            <p>The value of money, then, is the quantity of goods in general that will be exchanged for one unit of money. The value of money is its purchasing power, i.e., the quantity of goods and services it can purchase. What money can buy depends on the level of prices. When the price level rises, a unit of money can purchase less goods than before. Money is then said to have depreciated. Conversely, a fall in prices signifies that a unit of money can buy more than before.

            Money is then said to appreciate. The “general level of prices” and the value of money are thus the same thing from two opposite angles. When the prices rise the value of money falls and vice versa. In other words, the value of money and the general price level are inversely proportion to each other. Violent changes in the value of money (or the price level) disturb economic life and do great harm. We must, therefore, carefully study the factors which determine the value of money.</p>
            <p class="resource"><a href="https://www.economicsdiscussion.net/money/value-of-money-meaning-measurement-and-preparation-of-index-numbers/1863">View Full Article </a></p>
        </div>
    </div>

    <div class="post">
        <img src="img/gmo-food.jpg" alt="food">
        <div class="post-item">
            <h3>GMO food</h3>
            <p>It is very likely you are eating foods and food products that are made with ingredients that come from GMO crops. Many GMO crops are used to make ingredients that Americans eat such as cornstarch, corn syrup, corn oil, soybean oil, canola oil, or granulated sugar. A few fresh fruit and vegetables are available in GMO varieties, including potatoes, summer squash, apples, papayas, and pink pineapples. Although GMOs are in a lot of the foods we eat, most of the GMO crops grown in the United States are used for animal food.    
            </p>
            <p class="resource"> <a href="https://www.fda.gov/food/agricultural-biotechnology/gmo-crops-animal-food-and-beyond">View Full Article</a></p>
        </div>
    </div>

    <div class="post">
        <img src="img/world.jpg" alt="world">
        <div class="post-item">
            <h3>The View of World in 2100</h3>
            <p>“The 21st century will see a revolution in the story of our human civilisation. Africa and the Arab World will shape our future, while Europe and Asia will recede in their influence. By the end of the century, the world will be multipolar, with India, Nigeria, China, and the US the dominant powers. This will truly be a new world and one we should be preparing for today.”

                Researchers from the Institute for Health Metrics and Evaluation (IHME) at the University of Washington’s School of Medicine, Seattle, in the U.S., said Sub-Saharan Africa would likely become an increasingly powerful continent on the geopolitical stage as its population rises.
                
                “Nigeria is projected to be among the world’s 10 most populated nations to see its working-age population grow in the century (from 86m in 2017 to 458m in 2100), supporting rapid economic growth and its rise in Gross Domestic Product (GDP) rankings from 23rd position in 2017 to 9th in 2100,” it noted.
                
                </p>
            <p class="resource"><a href="https://guardian.ng/news/india-nigeria-china-u-s-to-be-dominant-powers-by-2100-study-predicts/">View Full Article</a></p>
        </div>
    </div>

    
</div>