<div class="main-content">

    <h1>Portfolio: Composition</h1>

    <div class="portfolio-content">
    
    <div class="card">
        <img src="img/portfolio/buildinh.jpg" alt="building">
        <figcaption>
          Building
        </figcaption>
    </div>

    <div class="card">
        <img src="img/portfolio/birdfeeder.jpg" alt="bird feeder">
        <figcaption>
            Bird Feeder
        </figcaption>
    </div>

    <div class="card">
        <img src="img/portfolio/bulb.jpg" alt="light bulb">
        <figcaption>
            Light Bulb 
        </figcaption>
    </div>

    <div class="card">
        <img src="img/portfolio/leaf.jpg" alt="leaf">
        <figcaption>
            Leaf
        </figcaption>
    </div>

    <div class="card">
        <img src="img/portfolio/pens.jpg" alt="pens">
        <figcaption>
            Pens
        </figcaption>
    </div>

    <div class="card">
        <img src="img/portfolio/table.jpg" alt="table">
        <figcaption>
            Table
        </figcaption>
    </div>

    </div>
    
</div>